
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.gdb_history

# Temporaries
install/
test/test[12].cc
test/test[12]

# Binaries
partha/partha-bcc
partha/partha-bpf
server/madhava
server/shyama

# Logs
*.log


